# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.venv/
env/
ENV/
ml-service/venv/

# PyCharm
.idea/
*.iml

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Build
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Environment files
.env

node_modules/
.venv/



